{% extends 'my_portfolio/base.html' %}
{% block content %}

{% load static %}

<!---------About Section Design----------->
<section class="about" id="about">
    <div class="about-img">
        <img src="{% static 'images/home.png' %}">
    </div>
    
      <div class="about-content">
        <h2 class="heading">About <span>Me</span> </h2>
        <h3>Software Developer!</h3>
        <p> Hello, am Hansel Ndemange. 
            <br>
            <br>
            A Computer Science degree holder from University of Kabianga.<br>
            Currently working as a fullstack developer at Turing having close to 10years of expirience.
            <br>
            <br>
            To me working at Turing has become a dream come true job as it is so flexible and the working condition is so conducive. <br>
            This enables me to manage other activites such as business and family matters with alot of ease.
            I first heard of Turing from an uncle of mine who's an IT guy in a goverment institution, 
            who later convinced me to work hard so that I can secure a place as a developer at Turing. 
            I started doing some research about this thing so called Turing which I have never heard of it before. 
            Cause remember I wasn't told more about the organization. That made me to do some research about it and went on to convince myself, 
            that this is where I belong and I would like to work for this organization when I will be out of school.
        </p>
             <a href="#" class="btn">Read More</a>
      </div>
</section>

{% endblock %}