{% extends 'my_portfolio/base.html' %}
{% block content %}

{% load static %}

 <!------Services Section Design--------->
 <section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    
    <div class="services-container">
        <div class="services-box">
            <i class='bx bx-code-alt' ></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, blanditiis. Maiores a consectetur 
                perspiciatis sapiente laborum amet facere praesentium asperiores.</p>

                <a href="#" class="btn">Read More</a>

        </div>

        <div class="services-box">
            <i class='bx bxs-paint'></i>
            <h3>Graphic Designer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, blanditiis. Maiores a consectetur 
                perspiciatis sapiente laborum amet facere praesentium asperiores.</p>

                <a href="#" class="btn">Read More</a>

        </div>

        <div class="services-box">
            <i class='bx bx-bar-chart-alt'></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, blanditiis. Maiores a consectetur 
                perspiciatis sapiente laborum amet facere praesentium asperiores.</p>

                <a href="#" class="btn">Read More</a>

        </div>
    </div>
</section>

{% endblock %}